In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

import re
import string
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split, KFold, GridSearchCV
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
ModelPath = '/content/drive/MyDrive/Resume Parsing NLP Project/Resumes for Model'
Resume_Classes = ['Peoplesoft resumes','React resumes','SQL Developer Lightning insight','workday resumes']

In [ ]:
label = []
key = []
def create_training_data():
    for category in Resume_Classes:
        path = os.path.join(ModelPath,category)
        class_num = Resume_Classes.index(category)
        for resume in os.listdir(path):
            label.append(category)
            key.append(resume)            

create_training_data()

In [ ]:
print('Labels: \n{}\nLength of Labels: {}\nKeys: \n{}\nLength of Keys: {}'.format(label[:10], len(label), key[:10], len(key)))

Labels:
['Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes', 'Peoplesoft resumes']
Length of Labels: 78
Keys:
['Peoplesoft Admin_G Ananda Rayudu.docx', 'Peoplesoft Admin_Murali.docx', 'Peoplesoft Admin_Gangareddy.docx', 'Peoplesoft Admin_AnubhavSingh.docx', 'PeopleSoft DBA_Ganesh Alladi.docx', 'Peoplesoft FSCM_Murali.docx', 'Peoplesoft FSCM_SUJATHA.docx', 'Peoplesoft FSCM_PriyabrataHota.docx', 'Peoplesoft Finance_Rahul Ahuja.docx', 'PeopleSoft DBA_Vivekanand Sayana.docx']
Length of Keys: 78

In [ ]:
# Creating a Dictionary of Key and Label
labelDict = dict(zip(key, label))

In [ ]:
# Now Sorting it in alphabetical order of keys
finalDict = {}
for i in sorted(labelDict.keys()):
    finalDict[i] = labelDict[i]

In [ ]:
# Let's Import Features_details.csv in which we had did feature extraction
Feature_extract = pd.read_csv('/content/Features_details.csv')
Feature_extract

                 Names  ...                                 Universities_Names
0            name gopi  ...                                           ['JNTU']
1           anil kumar  ...      ['Velagapudi siddhartha engineering college']
2    aradhana tripathi  ...                       ['AKS University', ' IIIT ']
3   chinna subbarayudu  ...                         ['Yogi Vemana University']
4         buddha vamsi  ...  ['Create ETL Jobs And Monitoring The Jobs  ACA...
..                 ...  ...                                                ...
73     kanumuru deepak  ...  ['ACADEMIC QUALIFICATIONS: Qualification Insti...
74      msbi developer  ...  ['EDUCATIONAL BACKGROUND:   B.Tech (computer s...
75     kamalakar reddy  ...  ['TITLE : lernbook  DESCRIPTION: Fortunapix wo...
76    curriculum vitae  ...  ['Education Completed BA from Kasturba Gandhi ...
77        manyata tech  ...                                                 []

[78 rows x 8 columns]

In [ ]:
Feature_extract.isnull().sum()

Names                  0
Mobile_Number          0
Email                  0
Skills                 0
Education              0
Years_of_Experience    9
links                  0
Universities_Names     0
dtype: int64

In [ ]:
# Creating a Dataframe for Modelling
Model_Feature = pd.DataFrame(Feature_extract['Names'])
Model_Feature['Skills'] = Feature_extract['Skills']
Model_Feature['Label'] = labelDict.values()

In [ ]:
Model_Feature.head(10)

                Names  ...               Label
0           name gopi  ...  Peoplesoft resumes
1          anil kumar  ...  Peoplesoft resumes
2   aradhana tripathi  ...  Peoplesoft resumes
3  chinna subbarayudu  ...  Peoplesoft resumes
4        buddha vamsi  ...  Peoplesoft resumes
5  venkata saikrishna  ...  Peoplesoft resumes
6            g himaja  ...  Peoplesoft resumes
7       neeraj mishra  ...  Peoplesoft resumes
8           basha sql  ...  Peoplesoft resumes
9   harikrishna akula  ...  Peoplesoft resumes

[10 rows x 3 columns]

In [ ]:
Model_Feature.tail()

               Names  ...            Label
73   kanumuru deepak  ...  workday resumes
74    msbi developer  ...  workday resumes
75   kamalakar reddy  ...  workday resumes
76  curriculum vitae  ...  workday resumes
77      manyata tech  ...  workday resumes

[5 rows x 3 columns]

In [ ]:
Model_Feature[61:78]

                       Names  ...            Label
61         shireesh balasani  ...  workday resumes
62            mareedu lokesh  ...  workday resumes
63               shaik abdul  ...  workday resumes
64         haripriya battina  ...  workday resumes
65  venkatalakshmi pedireddy  ...  workday resumes
66          srikanth workday  ...  workday resumes
67             sarala madasu  ...  workday resumes
68               kambala sai  ...  workday resumes
69              kotani durga  ...  workday resumes
70            mareedu lokesh  ...  workday resumes
71   venkateswarlu.b workday  ...  workday resumes
72             ranga gaganam  ...  workday resumes
73           kanumuru deepak  ...  workday resumes
74            msbi developer  ...  workday resumes
75           kamalakar reddy  ...  workday resumes
76          curriculum vitae  ...  workday resumes
77              manyata tech  ...  workday resumes

[17 rows x 3 columns]

In [ ]:
# Store the file into a csv file
Model_Feature.to_csv('Classification_of_Resumes.csv')

In [ ]:
Df = pd.read_csv('/content/Classification_of_Resumes.csv', index_col = 0)

In [ ]:
Df

                 Names  ...               Label
0            name gopi  ...  Peoplesoft resumes
1           anil kumar  ...  Peoplesoft resumes
2    aradhana tripathi  ...  Peoplesoft resumes
3   chinna subbarayudu  ...  Peoplesoft resumes
4         buddha vamsi  ...  Peoplesoft resumes
..                 ...  ...                 ...
73     kanumuru deepak  ...     workday resumes
74      msbi developer  ...     workday resumes
75     kamalakar reddy  ...     workday resumes
76    curriculum vitae  ...     workday resumes
77        manyata tech  ...     workday resumes

[78 rows x 3 columns]

In [ ]:
Df.isnull().sum().sum()
## no nan Values

0

# Data Pre processing

# 1. Data cleaning

In [ ]:

import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
lemmetizer = WordNetLemmatizer()
stop_words = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
cleaned_data = []
def clean_data(text):
    text_clean = []
    text_tokens = word_tokenize(text)
    for word in text_tokens:
        if (word not in stop_words and # remove stopwords
            word not in string.punctuation): # remove punctuation
            stem_word = lemmetizer.lemmatize(word) # stemming word
            text_clean.append(stem_word)
    list_to_str = ' '.join([str(ele) for ele in text_clean])
    list_to_str = re.sub("'",'',list_to_str)   
    return list_to_str.lower() 

 # Calling Function
for text in Df['Skills']:
    cleaned_data.append(clean_data(text))

In [ ]:
Df['Cleaned Skills'] = cleaned_data
Df.head()

                Names  ...                                     Cleaned Skills
0           name gopi  ...  soap excel rest system specifications troubles...
1          anil kumar  ...  matrix excel etl visual system conversion engi...
2   aradhana tripathi  ...  computer application excel sales system migrat...
3  chinna subbarayudu  ...  soap programming matrix peoplesoft excel rest ...
4        buddha vamsi  ...  programming vmware etl java hbase system html ...

[5 rows x 4 columns]

# 2.Vectorization and Label Encoding

In [ ]:

CV = CountVectorizer(stop_words = 'english')
le = LabelEncoder()

In [ ]:
# Label Encoder
Df['Label'] = le.fit_transform(Df['Label'])

In [ ]:
# Bag of Words Vectorization
# Df['Vectorized Skills'] = CV.fit_transform(Df['Cleaned Skills'])

In [ ]:
Df.head(5)

                Names  ...                                     Cleaned Skills
0           name gopi  ...  soap excel rest system specifications troubles...
1          anil kumar  ...  matrix excel etl visual system conversion engi...
2   aradhana tripathi  ...  computer application excel sales system migrat...
3  chinna subbarayudu  ...  soap programming matrix peoplesoft excel rest ...
4        buddha vamsi  ...  programming vmware etl java hbase system html ...

[5 rows x 4 columns]

# Splitting the into Training and Testing data

In [ ]:

X = Df['Cleaned Skills'].values
y = Df['Label'].values
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size= 0.20, random_state= 30)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((62,), (16,), (62,), (16,))

# Model Training

# Logistics Regression Classifier

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
Log_Classifer = LogisticRegression(penalty='l2', dual=False, tol=0.0001, C=1.0, fit_intercept=True,
                                   intercept_scaling=1, class_weight=None, random_state=50, solver='lbfgs',
                                   max_iter=100, multi_class='auto', verbose=0, warm_start=False, n_jobs=None, l1_ratio=None)
X_train_CV = CV.fit_transform(X_train)
Log_Classifer.fit(X_train_CV, y_train)
X_test_CV = CV.transform(X_test)
y_pred = Log_Classifer.predict(X_test_CV)

In [ ]:
accuracy_score(y_pred, y_test)*100

37.5

# MultinomialNB Classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB

In [ ]:
mnb = MultinomialNB(alpha=1.0, fit_prior=True, class_prior=None)
X_train_CV = CV.fit_transform(X_train)
mnb.fit(X_train_CV, y_train)
X_test_CV = CV.transform(X_test)
y_pred = mnb.predict(X_test_CV)

In [ ]:
accuracy_score(y_pred, y_test)*100

56.25

# GaussianNB Classifier

In [ ]:
# Fitting Naive Bayes to the Training set  

from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()
X_train_CV = CV.fit_transform(X_train)  
classifier.fit(X_train_CV, y_train)
X_test_CV = CV.transform(X_test)
y_pred = mnb.predict(X_test_CV)

TypeError: ignored

In [ ]:
X_test_CV = CV.transform(X_test)
y_pred = mnb.predict(X_test_CV)

# Decision Tree classifier

In [ ]:
#Fit the model in the Decision Tree classifier.
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion='entropy', splitter='random', max_depth=4, min_samples_split=2, min_samples_leaf=2,
                                    min_weight_fraction_leaf= 0.0, max_features=None, random_state=40, max_leaf_nodes=None,
                                    min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
X_train_CV = CV.fit_transform(X_train)
classifier.fit(X_train_CV, y_train)
X_test_CV = CV.transform(X_test)

#prediction
y_pred = classifier.predict(X_test_CV)
accuracy_score(y_pred, y_test)*100

56.25

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

array([[1, 3, 0, 0],
       [0, 4, 0, 0],
       [0, 2, 0, 0],
       [0, 1, 0, 5]])

#Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
Classifier_ran = RandomForestClassifier(n_estimators=100, criterion='entropy', max_depth=None, min_samples_split=2, min_samples_leaf=2)
Classifier_ran.fit(X_train_CV, y_train)
y_pred = Classifier_ran.predict(X_test_CV)
accuracy_score(y_pred, y_test)*100

50.0

# XGradient Bosting

In [ ]:
##Fit the model in the in XGB
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model_XG = XGBClassifier(n_estimators=100, max_depth=3,learning_rate=0.2)
X_train_CV = CV.fit_transform(X_train)
model_XG.fit(X_train_CV, y_train)

XGBClassifier(learning_rate=0.2, objective='multi:softprob')

In [ ]:
# make predictions for test data
X_test_CV = CV.transform(X_test)
y_pred = model_XG.predict(X_test_CV)
predictions = [round(value) for value in y_pred]

In [ ]:
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 50.00%

# Stochastic Gradient Descent

In [ ]:
#Fit the model in the SGD 
from sklearn.linear_model import SGDClassifier
SGD_Classifier = SGDClassifier(loss = 'modified_huber', shuffle=True, random_state= 30)
X_train_CV = CV.fit_transform(X_train)
SGD_Classifier.fit(X_train_CV, y_train)

SGDClassifier(loss='modified_huber', random_state=30)

In [ ]:
# make predictions for test data
X_test_CV = CV.transform(X_test)
y_pred = SGD_Classifier.predict(X_test_CV)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 37.50%

# K-Nearest Neighbours

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
Kn_Classifier = KNeighborsClassifier(n_neighbors = 15,weights='uniform')
X_train_CV = CV.fit_transform(X_train)
Kn_Classifier.fit(X_train_CV, y_train)

KNeighborsClassifier(n_neighbors=15)

In [ ]:
# make predictions for test data
X_test_CV = CV.transform(X_test)
y_pred = Kn_Classifier.predict(X_test_CV)
predictions = [round(value) for value in y_pred]

# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 56.25%

# Evaluation Model

In [ ]:
# Define a function to compute Precision, Recall and F1 score
from sklearn.metrics import roc_auc_score, precision_score, recall_score
precision, recall, f1, models, accuracy = [], [],[], [], []
def get_pre_rec_f1(model_name, model,X_test,y_test):
    models.append(model_name)
    y_pred = model.predict(X_test)
    precision_Score = precision_score(y_test, y_pred, average = 'weighted')
    recall_Score = recall_score(y_test, y_pred, average = 'weighted')
    F1 = 2 * (precision_Score * recall_Score) / (precision_Score + recall_Score)
    accuracy_Score = accuracy_score(y_test, y_pred)
    precision.append(precision_Score)
    recall.append(recall_Score)
    f1.append(F1)
    accuracy.append(accuracy_Score)
    df = pd.DataFrame(models,columns=['Model'] )
    df['Accuracy'] = accuracy
    df['Precision'] = precision
    df['Recall'] = recall
    df['F1 Score'] = f1
    return df
    # print(f'Precision:{precision:.3f}\nRecall:{recall:.3f}\nF1 score:{F1:.3f}')

In [ ]:
eval_df = get_pre_rec_f1('Logistics Regression Classifier', Log_Classifer, X_test_CV, y_test)
eval_df = get_pre_rec_f1('Multinomial Naive Bayes', mnb, X_test_CV, y_test)
eval_df = get_pre_rec_f1('Decission Tree Classifier', classifier, X_test_CV, y_test)
eval_df = get_pre_rec_f1('Random Forest Classifier', Classifier_ran, X_test_CV, y_test)
eval_df = get_pre_rec_f1('XGradient Bosting Classifier', model_XG, X_test_CV, y_test)
eval_df = get_pre_rec_f1('K-Nearest Neighbours', Kn_Classifier, X_test_CV, y_test)
eval_df

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

                             Model  Accuracy  Precision  Recall  F1 Score
0  Logistics Regression Classifier    0.3750   0.482143  0.3750  0.421875
1          Multinomial Naive Bayes    0.5625   0.500000  0.5625  0.529412
2        Decission Tree Classifier    0.6250   0.725000  0.6250  0.671296
3         Random Forest Classifier    0.5000   0.482143  0.5000  0.490909
4     XGradient Bosting Classifier    0.5000   0.562500  0.5000  0.529412
5             K-Nearest Neighbours    0.5625   0.558333  0.5625  0.560409